body {
    background-color: #f8f9fa;
    font-family: 'Jaldi', sans-serif;
}

.container {
    background-color: #f8f9fa;
}

.card-text {
    font-size: 18px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.nav-item {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Jaldi', sans-serif;
}

.display-4 {
    margin-top: 100px;
    text-align: center;
}

.heroimg {
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.lead {
    margin-top: 20px;
    text-align: center;
}

.nav-ml-left {
  justify-content: flex-end;
}

h5 {
    color:white;
    text-shadow: yellow;
}

.img-fluid {
    position: relative;
    max-width: 100%;
    max-height: auto;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.maintext {
    text-align: center;
    padding-top: 20px;
}

.containerhero {
    position: relative;
}

.fixedtext {
    font-size: 60px;
    position: absolute;
    margin-left: 30px;
    bottom: 50%;
    color: white;
    z-index: 1;
    width: 400px;
}

.footer-edit {
    margin-top: 50px;
    margin-bottom: 100px;
}

.contacttext {
    text-align: center;
}

.trademark {
    text-align: center;
    color: white;
}

/* !This CSS stick the footer to the bottom */

.footer-stick {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #212529;
    padding-top: 20px;
}
