
body {
    background-color: #f8f9fa;
    font-family: 'Jaldi', sans-serif;
}

.card-title {
    font-weight: bold;
}

.card-text {
    font-size: 18px;
}

/*! Content linked to the navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.nav-item {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Jaldi', sans-serif;
}

.nav-ml-left {
  justify-content: flex-end;
}

.card-img-top {
    max-height: auto;
    max-width: auto;
    position: ;
}
/*! This gives margin to the jumbotron */

.display-4 {
    margin-top: 130px;
    text-align: center;
}



.heroimg {
    height: 20vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*! This gives margin to the jumbotron */

.lead {
    margin-top: 20px;
    text-align: center;
}

/* ---- */


.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section2text {
    text-align: center;
    padding-top: 20px;
}


.footer-edit {
    margin-top: 50px;
    margin-bottom: 100px;
}

.contacttext {
    text-align: center;
}

.trademark {
    text-align: center;
    color: white;
}



/* This CSS is referencing to contact page */


/* !This CSS stick the footer to the bottom */

.footer-stick {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #212529;
    padding-top: 20px;
}



/* !The media query is creating space between the cards on mobile version*/


@media only screen and (max-width: 767px) {
  .card {
    margin-bottom: 20px;
}
}